NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBosmb7fEjhBr4EKBJ2rFj8AEoc4HlngRM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=movemaster-e61e1.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=movemaster-e61e1
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=movemaster-e61e1.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=9236189782
NEXT_PUBLIC_FIREBASE_APP_ID=1:9236189782:web:6dc17d9c3a9df5fd0a61f7

NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

NEXT_PUBLIC_USE_EMULATORS=1

